/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
    margin: auto;
    align-items: center;
    flex-direction: column; /* Stack items vertically */
  }
  
  .gallery-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #3887be;
    margin-bottom: 10px;
  }
  
  .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    position: relative;
    margin-top: 20px; /* Adjust the top margin as needed */
  }
  
  .carousel img {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    border-radius: 15px; /* Add a border-radius for the curvy shape */
  }
  
  .carousel img:first-child {
    margin-left: 0px;
  }
  
  @media screen and (max-width: 900px) {
    .carousel img {
      width: calc(100% / 2);
    }
  }
  
  @media screen and (max-width: 550px) {
    .carousel img {
      width: 100%;
    }
  }
  
  .arrow-buttons {
    display: flex;
    margin-top: 10px; /* Adjust the top margin as needed */
  }
  
  #left,
  #right {
    color: #343F4F;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 10px; /* Adjust the margin between buttons as needed */
  }
  
  