@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Yusei+Magic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Crimson Text', serif; */

}

body {
    background: linear-gradient(92.07deg, #341E5F 3.51%, #3B2667 57.95%, rgba(159, 24, 105, 0.76) 98.36%);
    font-family: 'Yusei Magic', sans-serif;
}

.container {
    margin: 0;
    height: 100vh;
    /* width: 100vw; */
}

.navbar {
    display: flex;
    margin: 12px;
}

.navbar img {
    margin: 12px;
    margin-left: 12%;
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

.home ul {
    display: flex;
    list-style: none;
    color: white;
    background: linear-gradient(1deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 0 70px 0 70px;
    border: 3px solid rgba(204, 196, 196, 0.18);
    margin: 25px 12px 44px 12px;
    padding: 5px;
}

.home li {
    margin: 4px 64px;
    padding: 4px 9px;
    cursor: pointer;
    list-style: none;
}

.navbar a{
    color: white;
    text-decoration: none;
}


.mainbody {
    display: flex;
}

.left {
    width: 50%;
    color: white;
    font-size: 50px;
    margin-left: 15%;
    margin-top: 22px;
}

.left button {
    border-radius: 50px;
    font-family: 'Yusei Magic', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    width: 301px;
    background: rgba(217, 217, 217, 0.01);
    border: 3.5px solid rgba(215, 210, 224, 0.7);
    box-shadow: inset 0px -5px 15px rgba(255, 255, 255, 0.25), inset 0px 5px 12px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);

}

.right {
    width: 50%;
}

hr{
    color: rgb(66, 52, 120);
}
.about-us{
    padding: 100px 80px;
    /* padding: 80px 0px; for o vertical paading */
    height: 100vh;
    background: linear-gradient(92.07deg, #341E5F 3.51%, #3B2667 57.95%, rgba(159, 24, 105, 0.76) 98.36%);
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.flex {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}

.flex-image{
    padding-top: 25px;
}

.about-image{
    border-radius: 20px;
}

.about-us h2 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #f0f0f0;
}

.about-us h3 {
    font-size: 22px;
    color: #888;
    margin-bottom: 8px;
}

.about-us p {
    font-size: 18px;
    Line-height: 1.5;
    color: #c7c7c7;
    margin-bottom: 20px;
}

.about-us img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.social-links {
    margin-bottom: 20px;
}

.social-links a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    Line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}

.social-links a:hover {
    transform: translatey(-3px);
}

.btn {
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}



.btn:hover{
    transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .flex {
        max-width: 100%;
    }
    .about-us h2 {
        font-size: 31px;
    }

    .about-us p{
        font-size: 16px;
    }

    .social-links a{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        margin-right: 5px;
    }


    .btn {
        font-size: 16px;
        padding: 8px 16px;
        margin-bottom: 30px;
    }
}
